body {
    background-color: blue;
    color: white;
}

h2 {
    text-align: center;
}

#textBody {
    margin-left: 10px;
    width: 650px;
}

.myImg {
    margin-top: 50px;
}

form {
    border: 5px solid white;
    height: 90px;
    width: 500px;
    padding-left: 10px;
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#demo {
    font-size: larger;
    font-weight: 600;
    border: 1px solid white;
}

th {
    border: 1px solid black;
    background-color: aqua;
}

tbody#data-output tr, td {
    height: 15px;
    width: 100px;
    border: .5px solid black;
}